---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<BaseLayout>
  <div class="prose">
    <ul>
      {
        allPosts.map((post) => (
          <li>
            <a href={post.url}><h3>{post.frontmatter.title}</h3></a>
						<b>Updated at: {post.frontmatter.date}</b>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
