<nav class="py-6">
  <a href="/" class="flex flex-row justify-center items-center gap-3">
    <img class="flex-initial w-16 h-16" src="/favicon.png" alt="a boy stargazing on a hill" />
    <h1 class="font-handwriting text-4xl">long hair programmer</h1>
  </a>
</nav>