---
import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allison&family=Dancing+Script&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>long hair programmer</title>
  </head>
  <body class="bg-slate-100">
    <nav class="py-6">
      <Header />
    </nav>
		<div class="flex max-w-none justify-center">
			<slot />
		</div>
  </body>
</html>
