<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/staring-at-stars_mini.jpeg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>long_hair_programmer</title>
	</head>
	<body>
    <slot />
	</body>
</html>
