---
import BaseLayout from "../layouts/BaseLayout.astro";
const { title } = Astro.props.frontmatter;
---

<BaseLayout>
  <div class="flex-1 w-64 leading-normal prose max-w-2xl mx-2 my-2">
    <h1>{title}</h1>
    <slot />
    <br />
  </div>
</BaseLayout>
